.profile-layout {
    display: flex;
}

.profile-main-content {
    margin-left: 230px;
    width: calc(100% - 250px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-content {
    border-radius: 20px;
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    width: calc(100% - 58px);
    background-color: var(--box-bg);
    box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease;
}

@media (max-width: 768px) {
    .profile-main-content {
        margin-left: 0;
        width: calc(100% - 15px);
    }
}