.history-conversation {
    max-height: calc(50.5% - 37px);
    min-height: calc(50.5% - 37px);
    overflow-y: auto;
    width: 250px;
    background-color: var(--box-bg);
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scrollbar-width: none;
    transition: background-color 0.4s ease;
    border: 1px solid var(--border-color);
}

.-webkit-scrollbar {
    display: none;
}

.history-conversation h2 {
    font-size: 1.5rem;
    margin-top: 0px;
    top:0;
    margin-top: 0px;
    padding-top: 0px;
    position: sticky;
    background: var(--box-bg);
    border-bottom: 1px solid #ccc;
    gap: 10px;
    transition: background-color 0.4s ease;
}

.history-conversation ul {
    list-style: none;
    padding: 0;
}

.history-conversation li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.history-conversation li:hover {
    background-color: #96969645;
}


@media (max-width: 768px) {
    .history-conversation {
        width: 97%;
        margin-bottom: 20px;
        padding: 0px;
        max-height: 100%;
        /* border: 1px solid var(--border-color); */
    }
    .history-conversation h2 {
        /* display: none; */
        font-size: 1rem;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .history-conversation {
        width: 90%;
        margin-bottom: 20px;
        padding: 0px;
        max-height: 100%;
        /* border: 1px solid var(--border-color); */
    }
    .history-conversation h2 {
        /* display: none; */
        font-size: 1rem;
        text-align: center;
    }    
}